<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.privalue.user.dal.persistence.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.privalue.user.dal.entitys.Teacher">
    <!--@mbg.generated-->
    <!--@Table teacher-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="teacher_code" jdbcType="VARCHAR" property="teacherCode" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="gender" jdbcType="OTHER" property="gender" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, teacher_code, teacher_name, gender, age,school, nation, phone_number, create_date, update_date,
    remark, delete_flag
  </sql>

  <insert id="insert" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id">
  insert into teacher(id,teacher_code,teacher_name,gender,age,school,nation,phone_number,create_date,update_date,
  remark,delete_flag)
  values (#{id,jdbcType=INTEGER}, #{teacherCode,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR},
          #{gender,jdbcType=INTEGER}, #{age,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR},
          #{nation,jdbcType=VARCHAR},#{phoneNumber,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
          #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=BOOLEAN})
</insert>

</mapper>
